<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <appSettings>
    <add key="SFTPFolder" value="E:\SFTP"/>
    <add key="FromEmailId" value="noreply@sapient.com"/>
    <add key="MailRelayServer" value="relay.citi-hosting.com"/>
    <add key="ToEmailId_error" value="EMCiti-IndiaTeam@sapient.com"/>
    <add key="EmailSubject_error" value="Cardlite Citi India - Error || UAT"/>
    <add key="sendmail" value="true"/>
    <add key="EmailDump" value="E:\websites\india\cardlite\EmailDump"/>

  </appSettings>

  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="false"/>

    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.
		-->
    <customErrors mode="On" defaultRedirect="Error.htm">
      <error statusCode="404" redirect="Error404.htm" />
    </customErrors>

  </system.web>
</configuration>
